body{
    background-image: url(image.png);
    background-size: cover;
    opacity: 1;
}
.nav{
    display: flex;
    flex-flow:row wrap;
    justify-content: flex-start;
    list-style: none ;
    margin: 0;
    background-color: black;
    flex-wrap: nowrap;
}
.nav a {
    text-decoration:double;
    display: block;
    padding: 1.1em;
    color: white;
    font-size: xx-large;
    font-weight:bolder;
    font-family: 'Courier New', Courier, monospace;
  }
  .nav a:hover {
    color:cadetblue;
  }
  
  @media all and (max-width: 800px) {
    .nav {
      justify-content: space-around;
    }
  }
  
  @media all and (max-width: 600px) {
    .nav {
      flex-flow: column wrap;
      padding: 0;
    }
    .nav a { 
      text-align: center; 
      padding: 10px;
      border-top: 1px solid rgba(255, 255, 255,0.3); 
      border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
    }
    .nav li:last-of-type a {
      border-bottom: none;
    }
  }
  img{
    size:45px ;
  }
  h1{
    color:white;
    font-size:40px;
    font-family:'Courier New', Courier, monospace;
    font-weight:900;
    text-align:left;
   
}
p{
    color:white;
    font-size: 35px;
    font-family:'Courier New', Courier, monospace;
    font-weight:900;
    text-align:left;
    font-weight: bolder;
}
ul{
    color:white;
    font-size: 35px;
    font-family:'Courier New', Courier, monospace;
    font-weight:"900";
    text-align: left ;
    font-weight: 900;
}
hr{
    size: 4px;
    color: white;
}